.statistics {
  width: 70%;
  padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  text-align: left;
}
.stat__text {
  color: rgb(7, 5, 6);
  font-size: 17px;
}

.stat__value {
  color: rgb(57, 57, 236);
  margin-left: 10px;
}
